html {
    background: url(IMAGES/1.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 2%
}

h1 {
    font-family: arial, "Times New Roman";
    font-size: 22px;
    font-style: italic;
}

div p {
    text-decoration: none;
    text-indent: 30px;
    color: white;
}

.wrapper {
    width: 80%;
    margin: auto;
    font-size: 16px;
}

/* end common section*/

}

/* end section*/
header {
    overflow: hidden
}

header h1 {
    float: left;
    color: #555;
    font-size: 160%
}

nav {
    float: right
}

nav ul li {
    list-style: none;
    float: left;
    margin-left: 20px
}


}

nav ul li a {
    text-decoration: none;
    font-size: 130%;
    font-weight: 600;
    color: darkgreen;
    text-transform: uppercase;
}

na ul li a:hover {
    color: #aaa;
}

/* end navigation */


/*end navigation*/
section:after {
    content: "";
    display: block;
    clear: both;
}

section p {
    color: black;
    text-justify: auto;
}

img {
    height: auto;
    width: 500px;
    float: left
}

img:hover {}

.content img {
    width: 33.33333%;
    float: left;
    height: 300px;
    opacity: 1px;
    box-sizing: border-box;
    border: 1px transparent;
    transition: .5s;
    margin: 5;
}

.container img:hover {
    opacity: .7;
}



@media only screen and (max-width:768px) {
    .wrapper{
        width: 100%;
    }

footer {
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;

}

    
footer p {
    font-weight: bold;
    text-align: center;
}

section h2 a {
   text-align: center;
    
        
    }
    header h1 {
        margin: 3%;
    }
   